[submodule "tools/cpplint"]
	path = tools/cpplint
	url = https://github.com/plenluno/cpplint.git
[submodule "deps/boost-svn"]
	path = deps/boost-svn
	url = https://github.com/plenluno/boost-svn.git
[submodule "tools/btest"]
	path = tools/btest
	url = https://github.com/plenluno/btest.git
[submodule "deps/libatomic_ops"]
	path = deps/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "deps/jscre"]
	path = deps/jscre
	url = https://github.com/plenluno/jscre.git
[submodule "deps/convertutf"]
	path = deps/convertutf
	url = https://github.com/plenluno/convertutf.git
[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = https://github.com/plenluno/bdwgc.git
[submodule "deps/iv"]
	path = deps/iv
	url = https://github.com/plenluno/iv.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/plenluno/googletest.git
[submodule "deps/pugixml"]
	path = deps/pugixml
	url = https://github.com/plenluno/pugixml.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/plenluno/rapidjson.git
