[submodule "tools/cpplint"]
	path = tools/cpplint
	url = https://github.com/plenluno/cpplint.git
[submodule "deps/boost-svn"]
	path = deps/boost-svn
	url = https://github.com/plenluno/boost-svn.git
[submodule "deps/iv"]
	path = deps/iv
	url = https://github.com/Constellation/iv.git
[submodule "tools/btest"]
	path = tools/btest
	url = https://github.com/plenluno/btest.git
[submodule "deps/picojson"]
	path = deps/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "deps/bdwgc"]
	path = deps/bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "deps/libatomic_ops"]
	path = deps/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/liquid-mirror/googletest.git
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/youknowone/jsoncpp.git
