[submodule "tools/cpplint"]
	path = tools/cpplint
	url = https://github.com/plenluno/cpplint.git
[submodule "deps/boost-svn"]
	path = deps/boost-svn
	url = https://github.com/plenluno/boost-svn.git
[submodule "deps/iv"]
	path = deps/iv
	url = https://github.com/Constellation/iv.git
